.navbar .active{
    background-color: rgb(176, 176, 177);
padding: 4px;
border-radius: 5px;
}


.black{
   background-color: black;
}
.green{
    color: green;
}
.text-black{
    color:black;
}
.orange{
    color: orange;
}
.gray{
    background-color: rgb(224, 236, 241);
}
.background{
 
  
    background-image:url('https://i.ibb.co/c2XTTdn/top-view-fried-chicken-fries-with-copy-space-1-copy-1.jpg');
    background-repeat: no-repeat;
   
}

.circle{
    clip-path: circle();
}